body {
  font-family: "Instrument Sans", sans-serif;
}

.bg-box {
  background-color: color-mix(
    in srgb,
    #9690a2 25%,
    transparent
  );
}

.bg-box-w{
  background-color: color-mix(in srgb, #9690a2 8%, transparent);;
}
